/*External Stylesheet for homteq*/
/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body
{
background-image: url("background_img.png");
}
#container
{
margin: 0 auto;
width: 80%;
background: #F8F8F8;
font-family: Montserrat;
border-style: None;
 border-color: #F8F8F8;
}
#header
{
background: #F8F8F8;
padding: 10px 30px;
}
#header h1
{
margin: 0;
background:#3d5c5c;
color: #ffffff;
font-family: Fjalla One;
font-size: 50;
text-align: left;
width: 170;
height:50;
padding: 10px;
}
#header h2 {
margin: 0;
color: #3d5c5c;
font-size: 15;
text-align: left;
}
#header h3 {
margin: 0;
color: #4a8d19;
font-size: 14;
text-align: right;
}
#navigation {
float: left;
width: 100%;
background: #4d4d4d;
}
#navigation ul {
margin: 0;
padding: 0;
}
#navigation ul li {
list-style-type: none;
display: inline;
}
#navigation li a {
display: block;
float: left;
padding: 5px 25px;
color: #FFF;
text-decoration: none;
border-right: 0px solid#fff;
}
#navigation li a:hover
{
background: #2874a6;
color: #fff
}
#content {
clear: left;
padding: 20px;
}
#content h4 {
color:#8d194a;
font-size: 24;
margin: 0 0 .5em;
}
#content h5 {
color:#194a8d;
font-size: 18;
margin: 0 0 .5em;
}

#footer
{
background:#4d4d4d;
text-align: center;
padding: 5px;
color: #fff;
}
table, th, td
{
	border-collapse: collapse;
	border: 2px solid #4a8d19;
}
th
{
padding:10px;
}
td
{
padding:10px;
text-align:left;
color:#000000;
}
.signuptable{
	border: 0px;
	
}

#loginName {
	font-style: italic;
	float: right;
  }

  html,
body {
  height: 100vh;
  width: 100%;
  background-image: url("background_img.png");
  padding: 0;
  margin: 0;
}

::ng-deep * {
  margin: 0;
  padding: 0;
}

.background {
  position: relative;
  text-align: center;
  color: white;
  height: 70%;
  width: 100%;
  background-image: url(./images/homepage.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-layer {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.brandname {
  position: absolute;
  color: #000000;
  text-align: center;
  font-family: Teen, Futura;
  color: #fff;
  margin-top: 0%;
  font-size: 70px;
  width: 100%;
}

.brandtext {
  font-size: 21px;
  margin: 0%;
  text-align: center;
  padding: 12% 10% 0% 10%;
  font-family: grotesk, Futura;
  font-weight: normal;
  color: #fff;
}

.button {
  border: none;
  color: black;
  border-radius: 30px;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 8%;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.brand-button {
  background: #a7c8e6;
}

.brand-button:hover {
  background: #3275b3;
  color: #000000;
  transform: scale(1.05);
  will-change: transform;
}

.tagline {
  font-size: 20px;
  margin: 0;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-family: grotesk, Futura;
}
